@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
h1{font-size: 90px;}
h2{font-size: 40px;}
.rainbow-button{background-image: url(media/rainbow.png);}
.black-button{background-image: url(media/black.png);}
.grey-button{background-image: url(media/grey.png);}
.erase-button{background-image: url(media/black.png);filter: invert(100%);}

body{
    background-image: url(media/background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    height: 100%;
}

h1, h2{
    font-family: 'Tangerine', serif;
    color: rgba(91, 19, 124, 0.527);
    text-shadow:4px 4px 4px #b48d8d;
    margin: 0; 
}

#colorButton{
    border: none;
    border-radius: 25%;
    padding: 20px 40px;
    display: inline-block;
    margin: 10px;
    background-size: 100%;
}
#colorButton:hover{box-shadow: 0 12px 16px 0px rgba(0, 0, 0, 0.527), 0 17px 50px 0 rgba(0, 0, 0, 0.527);}
#colorButton:active{
    outline: none;
    transform: scale(1.5);
    border-radius: 50%;
    border: 2px transparent;
}
#colorButton:focus{
    outline:none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.527), 0 17px 50px 0 rgba(0, 0, 0, 0.527);
}   

#grid{
    display: grid;
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-columns), 1fr);
    gap: 0 0;
    background-color: rgba(255, 255, 255, 0.527);
    border: 10px ridge rgba(91, 19, 124, 0.527);
    width: 480px;
    height: 480px;
    margin-top: 10px;
}

#gridItem{transition: 0.5s;}

.reset-options{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.reset-button{
    font-size: 30px;
    font-family: 'Tangerine', serif;
    font-weight: bold;
    align-items: center;
    color: rgba(91, 19, 124, 0.527);
    border: none;
    border-radius: 25%;
    padding: 16px;
    display: inline;
    margin-inline-end: 20px;
    outline: none;
}
.reset-button:hover{box-shadow: 0 12px 16px 0px rgba(0, 0, 0, 0.527), 0 17px 50px 0 rgba(0, 0, 0, 0.527);}
.grid-size{margin: 0; font-size: 30px;}
.slidecontainer{width: 300px;}

.slider{  
    width: 300px; 
    height: 20px;
    background: #ffffff; 
    outline: none; 
    border-radius: 25%;
}

p{
    margin-top: 30px;
    margin-bottom: 0;
    font-family: 'Tangerine', serif;
    font-size: 25px;
}
  
.bouncy{
    animation: bouncy 5s infinite linear;
    position: relative;
}
@keyframes bouncy{
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}